::selection{
	background:#364D55;
}
html,
body{
    background-color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6em;
    padding-top: 12em;
    margin: 20px;
      }
main h1{
  font-size: 6.4em;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans Condensed', serif;
  width: center;
  margin: 0 auto;
  justify-content: center;
  display: block;
/*animation*/
  overflow: hidden;
  border-right:.02em solid orange;
  white-space: nowrap;
  letter-spacing:0.1em;

  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
50% { border-color: #00c86f }
}
aside {
  display: inline-block;
  color: #353535;
  font-size: 0.7em;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  padding-top: 14em;
  padding-left:62em;
}
aside li{
display: inline-block;
}
nav a{
  color:#00c86f;
  text-decoration: none;
}
